<section class='wrapper'>
  <div class='row'>
    <h2>Daniel Orifice Flow Calculator</h2>
  </div>
  <form>
    <div class='row'>
      <div class='column-6' id='pipe-container'>
        <label>Pipe ID</label>
        <select data-bind="options: availablePipes, value: selectedPipeDiameter, optionsText: 'name', optionsValue: 'value'" id='available-pipes'></select>
      </div>
      <div class='column-6' id='specific-gravity-container'>
        <label>Base Specific Gravity</label>
        <input data-bind='value: baseSpecificGravity' id='base-specific-gravity' type='number'>
      </div>
    </div>
    <div class='row' id='operating-temperature-container'>
      <div class='column-5'>
        <label>Operating Temperature</label>
        <input data-bind='value: operatingTemperature' id='operating-temperature' type='number'>
      </div>
      <div class='column-6'>
        <div data-bind='foreach: operatingTemperatureUnit'>
          <label data-bind='text: $data'></label>
          <input class='operating-temperature-units' data-bind='checkedValue: $data, checked: $component.selectedOperatingTemperatureUnit' type='radio'>
        </div>
      </div>
    </div>
    <div class='row' id='operating-pressure-container'>
      <div class='column-5'>
        <label>Operating Pressure</label>
        <input data-bind='value: operatingPressure' id='operating-pressure' type='number'>
        <div data-bind='visible: operatingPressureWarningMessage, text: operatingPressureWarningMessage' id='warning-message'></div>
      </div>
      <div class='column-3'>
        <div data-bind='foreach: operatingPressureRead'>
          <label data-bind='text: $data'></label>
          <input class='operating-pressure-read' data-bind='checkedValue: $data, checked: $component.selectedOperatingPressureRead' type='radio'>
        </div>
      </div>
      <div class='column-2'>
        <select data-bind='options: operatingPressureUnits, value: selectedOperatingPressureUnits' id='operating-pressure-units'></select>
      </div>
    </div>
    <div class='row' id='compressibility-correction-container'>
      <div class='column-12'>
        <label>Compressibility Correction</label>
        <div data-bind='foreach: compressibilityCorrection'>
          <label data-bind='text: $data'></label>
          <input class='compressibility-correction' data-bind='checkedValue: $data, checked: $component.selectedCompressibilityCorrection' type='radio'>
        </div>
      </div>
      <div class='column-4'>
        <input data-bind='visible: displayCompressibilityCorrection, value: compressibilityCorrectionValue' id='compressibility-correction-value' type='number'>
      </div>
    </div>
    <div class='row'>
      <div class='column-5' id='diferential-pressure-container'>
        <label>Differential Pressure</label>
        <input data-bind='value: differentialPressure' id='differential-pressure' type='number'>
      </div>
      <div class='column-5' id='orifice-bore-diameter-container'>
        <label>Orifice Bore Diameter</label>
        <input data-bind='value: orificeBoreDiameter' id='orifice-bore-diameter' type='number'>
      </div>
      <div class='column-2' id='beta-ratio-container'>
        <div id='beta-ratio'>
          Beta Ratio
          <span data-bind='text: betaRatio'></span>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='column-4'>
        <label>Flow Rate</label>
        <span data-bind='copyToClipboard, text: flowRate' id='flow-rate'></span>
      </div>
      <div class='column-4'>
        <select data-bind='options: availableFlowRateUnits, value: selectedFlowRateUnit' id='flow-rate-unit'></select>
      </div>
    </div>
  </form>
</section>
