<section class='wrapper'>
  <div class='row'>
    <h2>
      <img alt='OpsManager' class='logo' src='images/opsman-logo.png'>
      OpsManager Orifice Flow Calculator
    </h2>
  </div>
  <form>
    <div class='form-group row'>
      <div class='col-xs-12 col-sm-4' id='pipe-container'>
        <label for='available-pipes'>Pipe ID</label>
        <select class='form-control' data-bind="{ options: availablePipes, value: selectedPipeDiameter, optionsText: 'name', optionsValue: 'value' }" id='available-pipes'></select>
      </div>
      <div class='col-xs-6 col-sm-2' id='orifice-bore-diameter-container'>
        <label for='orifice-bore-diameter'>Orifice Bore Diameter</label>
        <input class='form-control' data-bind='value: orificeBoreDiameter' id='orifice-bore-diameter' list='orifice-bore-diameter-cookies' step='0.001' type='number'>
        <datalist data-bind='foreach: orificeBoreDiameterCookies' id='orifice-bore-diameter-cookies'>
          <option data-bind='text: value'></option>
        </datalist>
      </div>
      <div class='col-xs-6 col-sm-2' id='orifice-bore-diameter-container'>
        <label for='orifice-bore-diameter-unit'>Units</label>
        <select class='form-control' data-bind='{ options: availableBoreDiameterUnits, value: selectedBoreDiameterUnit }' id='orifice-bore-diameter-unit'></select>
      </div>
      <div class='col-xs-12 col-sm-2' id='beta-ratio-container'>
        <label for='beta-ratio'>Beta Ratio</label>
        <figure class='highlight'>
          <pre><code><span data-bind='text: betaRatio' id='beta-ratio'></span></code></pre>
        </figure>
      </div>
    </div>
  </form>
  <div class='form-group row'>
    <div class='col-xs-12 col-sm-4' id='specific-gravity-container'>
      <label for='base-specific-gravity'>Base Specific Gravity</label>
      <input class='form-control' data-bind='value: baseSpecificGravity' id='base-specific-gravity' list='base-specific-gravity-cookies' step='0.001' type='number'>
      <datalist data-bind='foreach: baseSpecificGravityCookies' id='base-specific-gravity-cookies'>
        <option data-bind='text: value'></option>
      </datalist>
    </div>
    <div class='col-xs-12 col-sm-4' id='specific-gravity-select'>
      <label for='base-specific-gravity-select'>Options</label>
      <select class='form-control' data-bind="options: availableBaseSpecificGravity, value: baseSpecificGravity, optionsText: 'name', optionsValue: 'value'" id='base-specific-gravity-select'></select>
    </div>
  </div>
  <div class='form-group row'>
    <div id='temperature-pressure-container'>
      <div id='operating-temperature-container'>
        <div class='col-xs-12 col-sm-4'>
          <label for='operating-temperature'>Operating Temperature</label>
          <input class='form-control' data-bind='value: operatingTemperature' id='operating-temperature' list='operating-temperature-cookies' step='0.001' type='number'>
          <datalist data-bind='foreach: operatingTemperatureCookies' id='operating-temperature-cookies'>
            <option data-bind='text: value'></option>
          </datalist>
        </div>
        <div class='col-xs-12 col-sm-6'>
          <label>Units</label>
          <!-- ko foreach: operatingTemperatureUnit -->
          <div class='form-check'>
            <label class='form-check-label'>
              <input class='form-check-input operating-temperature-units' data-bind='checkedValue: $data, checked: $component.selectedOperatingTemperatureUnit, attr: { id: $data }' name='operatingTemperature' type='radio'>
                <span data-bind='text: $data'></span>
              </input>
            </label>
          </div>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
  <div class='form-group row'>
    <div id='operating-pressure-container'>
      <div class='col-xs-12 col-sm-4' data-bind="css: { 'has-error': operatingPressureWarningMessage }">
        <label for='operating-pressure'>Operating Pressure</label>
        <input class='form-control' data-bind='value: operatingPressure' id='operating-pressure' list='operating-pressure-cookies' type='number'>
        <datalist data-bind='foreach: operatingPressureCookies' id='operating-pressure-cookies'>
          <option data-bind='text: value'></option>
        </datalist>
        <div class='help-block' data-bind='visible: operatingPressureWarningMessage, text: operatingPressureWarningMessage' id='warning-message'></div>
      </div>
      <div class='col-xs-12 col-sm-2'>
        <label class='col-xs-12' for='operating-pressure-units'>Units</label>
        <select class='form-control' data-bind="options: availablePressureUnits, optionsText: 'displayName', optionsValue: 'key', value: selectedOperatingPressureUnit" id='operating-pressure-units'></select>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <label>Operating Pressure Read</label>
        <!-- ko foreach: operatingPressureRead -->
        <div class='form-check'>
          <label class='form-check-label'>
            <input class='form-check-input operating-pressure-read' data-bind='checkedValue: $data, checked: $component.selectedOperatingPressureRead, attr: { id: $data }' name='operatingPressureRead' type='radio'>
              <span data-bind='text: $data'></span>
            </input>
          </label>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
  <div class='form-group row'>
    <div id='compressibility-correction-container'>
      <div class='col-xs-12 col-sm-4'>
        <label>Compressibility Correction</label>
        <!-- ko foreach: compressibilityCorrection -->
        <div class='form-check'>
          <label class='form-check-label'>
            <input class='form-check-input compressibility-correction' data-bind='checkedValue: $data, checked: $component.selectedCompressibilityCorrection, attr: { id: $data }' name='compressibilityCorrection' type='radio'>
              <span data-bind='text: $data'></span>
            </input>
          </label>
        </div>
        <!-- /ko -->
        <div class='col-xs-12 col-sm-4'>
          <input class='form-control' data-bind='enable: displayCompressibilityCorrection, value: compressibilityCorrectionValue' id='compressibility-correction-value' type='number'>
        </div>
      </div>
    </div>
  </div>
  <div class='form-group row'>
    <div class='col-xs-5' id='differential-pressure-container'>
      <label for='differential-pressure'>Differential Pressure</label>
      <div class='input-group'>
        <span class='input-group-addon'>
          <input class='form-check-input' data-bind='checked: selectedCalculationField' id='differential-pressure-checker' name='calculateDifferentialPressure' type='radio' value='differential pressure'>
        </span>
        <!-- ko ifnot: isCalculateDifferentialPressure -->
        <input class='form-control' data-bind='value: differentialPressure' id='differential-pressure' list='differential-pressure-cookies' type='number'>
        <datalist data-bind='foreach: differentialPressureCookies' id='differential-pressure-cookies'>
          <option data-bind='text: value'></option>
        </datalist>
        <!-- /ko -->
        <!-- ko if: isCalculateDifferentialPressure -->
        <figure class='highlight' data-bind='copyToClipboard: { callback: copyFeedback }'>
          <pre><code><span data-bind='text: calculatedDifferentialPressure' id='calculated-differential-pressure'></span></code></pre>
        </figure>
        <!-- /ko -->
      </div>
      <!-- ko if: isCalculateDifferentialPressure && calculatedDifferentialPressure -->
      <div class='help-block' id='info-message'>
        Click the
        <strong>differential pressure value</strong>
        to copy it
      </div>
      <div class='help-block animated' data-bind='css: copyFeedbackClass' id='copy-feedback'>Copied</div>
      <!-- /ko -->
    </div>
    <div class='col-xs-4' id='differential-pressure-container'>
      <label for='differential-pressure-units'>Units</label>
      <select class='form-control' data-bind="options: availablePressureUnits, optionsText: 'displayName', optionsValue: 'key', value: selectedDifferentialPressureUnit" id='differential-pressure-units'></select>
    </div>
  </div>
  <div class='form-group row'>
    <div class='col-xs-12 col-sm-5'>
      <label for='flow-rate'>Flow Rate</label>
      <div class='input-group'>
        <span class='input-group-addon'>
          <input class='form-check-input' data-bind='checked: selectedCalculationField' id='flow-rate-checker' name='calculateFlowRate' type='radio' value='flow rate'>
        </span>
        <!-- ko ifnot: isCalculateFlowRate -->
        <input class='form-control' data-bind='value: flowRate' id='flow-rate' list='flow-rate-cookies' type='number'>
        <datalist data-bind='foreach: flowRateCookies' id='flow-rate-cookies'>
          <option data-bind='text: value'></option>
        </datalist>
        <!-- /ko -->
        <!-- ko if: isCalculateFlowRate -->
        <figure class='highlight' data-bind='copyToClipboard: { callback: copyFeedback }'>
          <pre><code><span data-bind='text: calculatedFlowRate' id='calculated-flow-rate'></span></code></pre>
        </figure>
        <!-- /ko -->
      </div>
      <!-- ko if: isCalculateFlowRate && calculatedFlowRate -->
      <div class='help-block' id='info-message'>
        Click the
        <strong>flow rate value</strong>
        to copy it
      </div>
      <div class='help-block animated' data-bind='css: copyFeedbackClass' id='copy-feedback'>Copied</div>
      <!-- /ko -->
    </div>
    <div class='col-xs-12 col-sm-4'>
      <label for='flow-rate-unit'>Flow Unit</label>
      <select class='form-control' data-bind='options: availableFlowUnits, value: selectedFlowUnit' id='flow-unit'></select>
    </div>
    <div class='col-xs-12 col-sm-3'>
      <label for='flow-rate-unit'>Rate Unit</label>
      <select class='form-control' data-bind='options: availableFlowRateUnits, value: selectedFlowRateUnit' id='flow-rate-unit'></select>
    </div>
  </div>
</section>
