%section.wrapper
  .row
    %h2 Daniel Orifice Flow Calculator

  %form
    .row
      #pipe-container.column-6
        %label Pipe ID
        %select#pipe-id{ 'data-bind' => "options: availablePipes, value: selectedPipeDiameter, optionsText: 'name', optionsValue: 'value'" }

      #specific-gravity-container.column-6
        %label Base Specific Gravity
        %input#base-specific-gravity{ :type => 'number', 'data-bind' => 'value: baseSpecificGravity' }

    #operating-temperature-container.row
      .column-5
        %label Operating Temperature
        %input#operating-temperature{ :type => 'number', 'data-bind' => 'value: operatingTemperature' }

      .column-6
        %div{ "data-bind" => "foreach: operatingTemperatureUnit" }
          %label{ "data-bind" => "text: $data" }
          %input.operating-temperature-units{ :type => "radio", "data-bind" => "checkedValue: $data, checked: $component.selectedOperatingTemperatureUnit"  }

    #operating-pressure-container.row
      .column-5
        %label Operating Pressure
        %input#operating-pressure{ :type => 'number', 'data-bind' => 'value: operatingPressure' }
        #warning-message{ "data-bind" => "visible: operatingPressureWarningMessage, text: operatingPressureWarningMessage" }

      .column-3
        %div{ 'data-bind' => 'foreach: operatingPressureRead' }
          %label{ 'data-bind' => 'text: $data' }
          %input.operating-pressure-read{ :type => 'radio', 'data-bind' => 'checkedValue: $data, checked: $component.chosenOperatingPressureRead'  }

      .column-2
        %select#operating-pressure-units{ 'data-bind' => 'options: operatingPressureUnits, value: selectedOperatingPressureUnits' }

    #compressibility-correction-container.row
      .column-12
        %label Compressibility Correction
        %div{ 'data-bind' => 'foreach: compressibilityCorrection' }
          %label{ 'data-bind' => 'text: $data' }
          %input.compressibility-correction{ :type => 'radio', 'data-bind' => 'checkedValue: $data, checked: $component.chosenCompressibilityCorrection'  }

    .row
      .column-4
        %input#compressibilityCorrectionValue{ :type => "number", "data-bind" => "visible: displayCompressibilityCorrection, value: compressibilityCorrectionValue" }

    .row
      #diferential-pressure-container.column-5
        %label Differential Pressure
        %input#differential-pressure{ :type => 'number', 'data-bind' => 'value: differentialPressure' }

      #orifice-bore-diameter-container.column-5
        %label Orifice Bore Diameter
        %input#orifice-bore-diameter{ :type => 'number', 'data-bind' => 'value: orificeBoreDiameter' }

      #beta-ratio-container.column-2
        #beta-ratio
          Beta Ratio
          %span{"data-bind" => "text: betaRatio" }

    .row
      .column-4
        %label Flow Rate
        %span#flow-rate{ 'data-bind' => 'copyToClipboard, text: flowRate' }
      .column-4
        %select#flow-rate-unit{ 'data-bind' => 'options: flowRateUnit, value: selectedFlowRateUnit' }
