%form
  %ul
    %li
      %label Pipe ID
      %select#pipe-id{ "data-bind" => "options: pipeID, value: selectedPipeID, optionsText: 'name', optionsValue: 'value'" }
    %li
      %label Operating Pressure
      %input#operating-pressure{ :type => "number", "data-bind" => "value: operatingPressure" }
    %li
      %label Operating Pressure Read
      %div{ "data-bind" => "foreach: operatingPressureRead" }
        %div
          %input.operating-pressure-read{ :type => "radio", "data-bind" => "checkedValue: $data, checked: $component.chosenOperatingPressureRead"  }
          %label{ "data-bind" => "text: $data" }
    %li
      %label Operating Pressure Units
      %select#operating-pressure-units{ "data-bind" => "options: operatingPressureUnits, value: selectedOperatingPressureUnits" }
    %li
      %label Base Specific Gravity
      %input#base-specific-gravity{ :type => "number", "data-bind" => "value: baseSpecificGravity" }
    %li
      %label Operating Temperature
      %input#operating-temperature{ :type => "number", "data-bind" => "value: operatingTemperature" }
    %li
      %label Operating Temperature Units
      %div{ "data-bind" => "foreach: operatingTemperatureUnit" }
        %div
          %input.operating-temperature-units{ :type => "radio", "data-bind" => "checkedValue: $data, checked: $component.selectedOperatingTemperatureUnit"  }
          %label{ "data-bind" => "text: $data" }
    %li
      %label Differential Pressure
      %input#differential-pressure{ :type => "number", "data-bind" => "value: differentialPressure" }
    %li
      %label Orifice Bore Diameter
      %input#orifice-bore-diameter{ :type => "number", "data-bind" => "value: orificeBoreDiameter" }
    %li
      %label Compressibility Correction
      %div{ "data-bind" => "foreach: compressibilityCorrection" }
        %div
          %input.compressibility-correction{ :type => "radio", "data-bind" => "checkedValue: $data, checked: $component.chosenCompressibilityCorrection"  }
          %label{ "data-bind" => "text: $data" }
      %span{ "data-bind" => "visible: operatingPressureWarningMessage, text: operatingPressureWarningMessage" }
    %li
      %label Flow Rate
      %span#flowRate{ "data-bind" => "text: flowRate" }
