%html
  %head
    %title Spec Runner
  %body
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.0/lodash.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.css", :rel => "stylesheet"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/boot.min.js"}
    %script{:src => "js/ko-components/view-models/orifice-calculator.js"}
    %script{:src => "js/ko-components/view-models/orifice-calculator-spec.js"}
    %script{:src => "js/ko-components/templates/orifice-calculator-spec.js"}
