body{
  background: #F2F4F6;
  color: #21323F;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  line-height: 100%;
}

h2 {
  color: #6D7781;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}
