%html
  %head
    %title Spec Runner
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.css", :rel => "stylesheet"}
  %body
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/boot.js"}
