%html
  %head
    %title Spec Runner
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.css", :rel => "stylesheet"}
  %body
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.0/lodash.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/boot.js"}
    %script{:src => "js/main.js"}
    %script{:src => "js/orifice-calculator.js"}
    %script{:src => "js/orifice-calculator_spec.js"}
